Repository PanagiotisDrakatos/HCE_v33_final_allinone_ready, changes with the labels that .github/labeler.yml gives for each.
All labels: feature, bug, docs, chore, tests

Some fixes
  pyproject.toml
Labels: none

ci: split unit/integration; add coverage; pin to py312; declare pytest marker
  .github/workflows/hce-autotest-autofix.yml
  pytest.ini
Labels: bug, chore

ci: fast lint+unit workflow with changed-files lint, xdist, coverage; optional integration job with services; add pre-commit hooks and badges
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Labels: chore

docs: add CI/Codecov badges to README
  README.md
Labels: docs

Change version
  pytest.ini
  requirements-dev.txt
Labels: none

Change version1
  requirements-dev.txt
Labels: none

Change version3
  .github/workflows/test.yml
Labels: chore

Change yml
  .github/workflows/ci.yml
Labels: chore

Workflow pr changed
  .github/workflows/auto-fix.yml
  .github/workflows/lint-reviewdog.yml
Labels: bug, chore

Workflow pr changed2
  .github/workflows/auto-fix.yml
  .github/workflows/ci.yml
  .github/workflows/lint-reviewdog.yml
Labels: bug, chore

Workflow pr changed3
  .github/workflows/ci.yml
Labels: chore

Workflow pr changed4
  .github/workflows/ci.yml
Labels: chore

Add pytest-cov dependency for coverage reporting
  requirements.txt
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: chore

auto: accept AI edits [skip ci]
  .act.secrets.example
  .actrc
  .coverage
  .github/workflows/auto-fix.yml
  .github/workflows/ci.yml
  .github/workflows/format-labeler.yml
  .github/workflows/lint-reviewdog.yml
  hcebt.egg-info/PKG-INFO
  tests/test_timeutil.py
Labels: feature, bug, chore, tests

auto: accept AI edits [skip ci]
  jetbrains_auto_commit_hooks.zip
Labels: none

auto: accept AI edits [skip ci]
  README.txt
  hooks/post-commit
  hooks/pre-push
  install_hooks.sh
Labels: none

auto: accept AI edits [skip ci]
  pytest.ini
Labels: none

auto: accept AI edits [skip ci]
  scripts/ci_grab_last_failure.sh
Labels: none

auto: accept AI edits [skip ci]
  scripts/ci_grab_last_failure.sh
Labels: none

auto: accept AI edits [skip ci]
  .github/workflows/ci.yml
Labels: chore

auto: accept AI edits [skip ci]
  .github/workflows/ci.yml
Labels: chore

auto: accept AI edits [skip ci]
  .github/workflows/copilot-autofix.yml
Labels: bug, chore

auto: accept AI edits [skip ci]
  tests/test_fills_targeted.py
Labels: feature, tests

auto: accept AI edits [skip ci]
  tests/test_persistence_targeted.py
Labels: feature, tests

auto: accept AI edits [skip ci]
  pytest.ini
Labels: none

auto: accept AI edits [skip ci]
  .coverage
  .github/workflows/hce-python-ci.yml
  tests/test_fills_targeted.py
  tests/test_persistence_targeted.py
Labels: feature, chore, tests

auto: accept AI edits [skip ci]
  .github/workflows/auto-fix.yml
  .github/workflows/hce-autotest-autofix.yml
  .github/workflows/hce-python-ci.yml
  scripts/bootstrap.sh
Labels: bug, chore

auto: accept AI edits [skip ci]
  scripts/unit_fast.sh
Labels: none

auto: accept AI edits [skip ci]
  scripts/bootstrap.cmd
Labels: none

auto: accept AI edits [skip ci]
  .gitignore
Labels: none

auto: accept AI edits [skip ci]
  scripts/unit_fast.cmd
Labels: none

auto: accept AI edits [skip ci]
  scripts/unit_fast.cmd
Labels: none

auto: accept AI edits [skip ci]
  scripts/unit_fast.sh
Labels: none

auto: accept AI edits [skip ci]
  scripts/bootstrap.sh
Labels: none

auto: accept AI edits [skip ci]
  scripts/bootstrap.cmd
Labels: none

auto: accept AI edits [skip ci]
  scripts/unit_fast.cmd
Labels: none

auto: accept AI edits [skip ci]
  scripts/ruff_fast.sh
Labels: none

auto: accept AI edits [skip ci]
  scripts/ruff_fast.cmd
Labels: none

auto: accept AI edits [skip ci]
  scripts/bootstrap.sh
Labels: none

.github/labeler.yml:

feature:
  - '**/*.py'
  - 'src/**'
bug:
  - '**/*fix*'
docs:
  - '**/*.md'
chore:
  - '.github/**'
tests:
  - 'tests/**'
